# Disable Samsung Security
CONFIG_UH=n
CONFIG_UH_RKP=n
CONFIG_RKP_KDP=n
CONFIG_RKP_NS_PROT=n
CONFIG_RKP_DMAP_PROT=n
CONFIG_UH_RKP_FIMC_CHECK=n
CONFIG_UH_LKMAUTH=n
CONFIG_UH_LKM_BLOCK=n
CONFIG_PROCA=n
CONFIG_SECURITY_DEFEX=n
CONFIG_FIVE=n

# Setting LocalVersion
CONFIG_LOCALVERSION="-GoRhanHee-Kernel"
CONFIG_LOCALVERSION_AUTO=n